header {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

div {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  gap: 2rem;
}

a {
  font-weight: 500;
  font-size: 1rem;
  color: inherit;
  text-decoration: inherit;
}

.account {
  font-size: 3.5rem;
  margin-right: 1rem;
}

.account-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.account-text {
  font-size: 1.1rem;
}
